body{
    font-family: 'Hahmlet', serif;
    background-color: rgba(187, 186, 186, 0.521);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
section p{
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
button{
    width: 200px;
    font-size: 23px;
    
    padding: 10px 30px;
}
button:hover{
    background-color: rgb(202, 201, 201);
    border-radius: 5px;
}
main section{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    height: 150px;
    width: 150px;
    margin-top: 5%;
}
main section:hover{
    border-radius: 5px;
    background-color: white;  
}
main .torres{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    height: 150px;
    width: 10px;
    margin: 13%;
    margin-top: 5%;
    
}
main .torres .discos{
    border-radius: 5px;
  
}

.win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0 auto;
   
    
}
.win h1{
   
    font-size: 28px; 
}
.derrota{
    font-size: 25px;
    color: red;
}
.vitoria{
    font-size: 28px;
    color: green;
}


#sectionResetButton{
    display: flex;
    width: 100%;
    justify-content: center;
}
#sectionResetButton button{
  margin-top: 50px;
    width: 200px;
}
@media screen and (min-width:700px) {
  .win{
      height: 150px;
      margin-bottom:0;
      justify-content: flex-start;
  }
  
  .win #btnJogar{
      margin-top: 100px;
      width: 150px;
      font-size: 20px;
      padding: 10px 20px;
  }
  .win h1{
      font-size: 25px;
      margin-top: 10px;
  }
  section p{
    font-size: 16px;
}
  main{
      margin-top: 0;
  }
  .vitoria{
    font-size: 25px;
    color: green;
}
  #sectionResetButton button{
      width: 150px;
      font-size:20px;
      padding: 10px 20px;
      margin-top: 200px;
  }
}
